# Git
.git
.gitignore

# Laravel/PHP
vendor
storage
.env

# Node/Vite
node_modules
npm-debug.log
yarn-error.log

# VSCode, OS, editors, etc.
.DS_Store
.vscode

# VitePress (or any stray folder you don’t ship)
.vitepress
